<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微信绑定失败</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../../mycss/mui.min.css" />
    <link rel="stylesheet" type="text/css" href="../../mycss/success.css"/>
</head>

<body>
    <div class="container">
        <div class="mui-container-fluid transparent">
            <div class="mui-row row1">
                <div class="mui-col-xs-1">
                </div>
                <div class="mui-col-xs-1"></div>
            </div>
            <div class="mui-row row2" id="">
                <div class="mui-col-xs-5"></div>
                <div class="mui-col-xs-2" style="text-align: center;">
                    <img src="/img/reNum/suc.png" class="alt_img" alt="">
                </div>
                <div class="mui-col-xs-5"></div>
            </div>
            <div class="mui-row row3" id="" style="margin-top: 2.7rem;">
                <div class="mui-col-xs-3"></div>
                <div class="mui-col-xs-6" style="text-align: center;">
                    <span class="suc">微信失败</span>
                </div>
                <div class="mui-col-xs-3"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/mui.min.js"></script>
    <script type="text/javascript">
        setInterval(function(){
            self.location.href = "/html/setting.html";
        }, 1000);

    </script>
</body>
</html>